@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <h1>@ViewData["Title"]</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <label class="text-muted">(This will become public at some point)</label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 d-flex justify-content-center">
        <div class="pt-4">
            <h4>Why create an account?</h4>
            <p>
                Good question.
            </p>
            <p>
                Using an account ensures your progress is saved properly.
                If you clear your browsers cookies and sessions all your data progress will be lost. 
                Having an account will prevent that.
            </p>
            <p>
                Another reason is connecting multiple devices to the same account. You can log in on your mobile, home PC and work PC - to monitor that same goal.
            </p>
            <p>
                <b>By creating an account you don't loose any current progress!</b>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
