@page
@model TheXEffect.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h3>What is The X Effect?</h3>

<br />

<p>
    The X Effect is a tool for creating habits, the basis of which is marking an X on a grid every time you do your habit.
    It could be anything from stop smoking to learning a new language.
</p>
<p>
    Every day you do something no matter how small it is to reach your goal, every day you do your habit you mark an 'X' on the calendar.
</p>
<p>
    The only thing YOU have to do, is make sure you keep de longest streak possible on the calendar.
</p>
<p>
    Suggestion: Make this your homepage.
    <br />

    What excuse do you have now?
</p>

<hr>

<p>
    You don't have to create an account to use this app. But is highly recommended so you don't lose your progress.
</p>

<p>
    Source code available on <a href="https://github.com/marcel0024/TheXEffect">github</a>.
</p>